geoservices-routing-wsdl/src/main/resources/wsdl/routing.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RoutingService"
	targetNamespace="http://sigem.sitep.com/mrk" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sigem.sitep.com/mrk"
	xmlns:axis2="http://sigem.sitep.com/mrk"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://sigem.sitep.com/mrk"
			xmlns:axis2="http://sigem.sitep.com/mrk"
			xmlns:tns="http://sigem.sitep.com/mrk" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="findShortestPath" type="axis2:findShortestPath" />
			<xs:element name="findShortestPathResponse" type="tns:findShortestPathResponse" />
			<xs:complexType name="RequestPoint">
				<xs:sequence>
					<xs:element name="Point" type="tns:Point"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Point">
				<xs:sequence>
					<xs:element name="coordinates" type="xs:string"></xs:element>
				</xs:sequence>
				<xs:attribute name="srsName" type="xs:string" />
			</xs:complexType>
			<xs:complexType name="ResponsePoint">
				<xs:sequence>
					<xs:element name="edge">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="id" type="xs:int"></xs:element>
								<xs:element name="distFrom" type="xs:double"></xs:element>
								<xs:element name="distTo" type="xs:double"></xs:element>
								<xs:element name="direction" type="xs:string"></xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Header">
				<xs:sequence>
					<xs:element name="name" type="xs:string"></xs:element>
					<xs:element name="value" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Message">
				<xs:sequence>
					<xs:element name="type" type="xs:string"></xs:element>
					<xs:element name="text" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Step">
				<xs:sequence>
					<xs:element name="name" type="xs:string"></xs:element>
					<xs:element name="type" type="xs:int"></xs:element>
					<xs:element name="edge" type="tns:Edge" maxOccurs="unbounded"
						minOccurs="0"></xs:element>
					<xs:element name="time" type="xs:double"></xs:element>
					<xs:element name="distance" type="xsd:double"></xs:element>
				</xs:sequence>
				<xs:attribute name="order" type="xs:int" />
			</xs:complexType>
			<xs:complexType name="findShortestPath">
				<xs:sequence>
					<xs:element name="startPoint" type="tns:RequestPoint"></xs:element>
					<xs:element name="targetPoint" type="tns:RequestPoint"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="findShortestPathResponse">
				<xs:sequence>
					<xs:element name="headers">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="header" maxOccurs="unbounded"
									minOccurs="0" type="tns:Header" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="startPoint" type="tns:ResponsePoint"></xs:element>
					<xs:element name="targetPoint" type="tns:ResponsePoint"></xs:element>
					<xs:element name="path">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="step" maxOccurs="unbounded"
									minOccurs="0" type="tns:Step">

								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="messages">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="message" maxOccurs="unbounded"
									minOccurs="0" type="tns:Message" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Edge">
				<xs:sequence>
					<xs:element name="id" type="xsd:int"></xs:element>
					<xs:element name="geometry" type="xsd:string"></xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="findShortestPath">
		<wsdl:part name="parameters" element="axis2:findShortestPath" />
	</wsdl:message>
	<wsdl:message name="findShortestPathResponse">
		<wsdl:part name="parameters" element="tns:findShortestPathResponse" />
	</wsdl:message>
	<wsdl:portType name="RoutingService">
		<wsdl:operation name="findShortestPath">
			<wsdl:input name="findShortestPath" message="axis2:findShortestPath">
			</wsdl:input>
			<wsdl:output name="findShortestPathResponse" message="tns:findShortestPathResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RoutingServiceImplSoapBinding" type="tns:RoutingService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="findShortestPath">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="findShortestPath">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="findShortestPathResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RoutingServiceImpl">
		<wsdl:port name="RoutingServicePort" binding="tns:RoutingServiceImplSoapBinding">
			<soap:address location="http://sigem.sitep.com/mrk" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
